html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-size: 106.25%;
  quotes: "â€œ" "â€";
}
body {
  font-size: 14px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: system-ui;
  background-color: #f4f4f4;
  color: #1d1d1f;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
}

.collection-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 470px;
  background: #fff;
  padding: 20px;
}
.data-col {
  position: relative;
}
.data-col:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/4;
}
.data-col:nth-child(2) {
  grid-column: 2/3;
}
.data-col:nth-child(3) {
  grid-column: 2/3;
}
.data-col:nth-child(4) {
  grid-column: 2/3;
}
@media only screen and (max-width: 540px) {
  .data-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
.data-col .inside-con {
  border-bottom: 1px solid #6666;
}
.data-col:first-child .inside-con {
  margin: 0 3% 0 0;
  height: 100%;
}

.inside-con ul li a {
  display: flex;
  text-decoration: none;
}
.inside-con ul li a span img {
  width: 90px;
}
.hero-img {
  width: 100%;
}
.data-col h2 {
  font-size: 25px;
  line-height: 28px;
  position: relative;
  padding: 5px 0;
  margin: 0;
}
.data-col h2:before {
  content: "";
  background: url(../images/plus-icon.jpg) no-repeat left center;

  width: 10px;
  height: 10px;
  margin-right: 5px;
  padding-right: 10px;
}
.data-col:first-child h2 {
  text-transform: uppercase;
}
.info {
  padding: 10px 0 0 0;
}
.data-col:first-child .info {
  position: absolute;
  bottom: 10px;
}
.info span {
  padding: 0 20px 0 0;
  font-size: 12px;
  color: #666666;
}
.info span i {
  padding-right: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 10px 0 0;
}
.text {
  font-size: 15px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}
.text:hover {
  color: #000;
}
.img {
  max-width: 100%;
  display: inline-block;
}
.img img {
  width: 100%;
}
.red {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.head-top img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftbox {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .rightbox {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .leftbox,
  .rightbox {
    box-sizing: border-box;
    padding: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .collection-box {
    display: block;
  }
  .data-col:first-child .info {
    position: unset;
  }
  .leftbox,
  .rightbox {
    display: none;
  }
}
